<!DOCTYPE html>
<html>
<head>
<title>Welcome to fufu's world!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to fufu's world!</h1>
<p>Fufu is a $FUR_COLOR $BREED cat. He is $AGE years old and weigh $WEIGHT kg.</p>
<a href="https://github.com/ZhengjunHUO/kubebuilder">Github Repo</a>
</body>
</html>
